*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

canvas {
  display: block;
}
